<div class="wrapper">
    <div class="panel panel-hash">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-5">                 
                    <a class="fa fa-plus-square fa-2x" onclick="AddEdit(0)"></a>
                </div>
                <div class="col-md-7 pull-right">
                    <h5 class="pull-right"><b>&nbsp;User Info From Browser List</b></h5>
                </div>
            </div>
        </div>

        <div class="panel-body scroll panel-height">
            <table id="tblUserInfoFromBrowser" class="ItemTranTable" style="width:100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Browser Unique ID</th>
                        <th>Lat</th>
                        <th>Long</th>
                        <th>Time Zone</th>
                        <th>Browser Major</th>
                        <th>Browser Name</th>
                        <th>Created Date</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<style>
    .panel-heading {
        padding: 0px 0px 0px 5px;
    }

    .panel-body {
        padding: 5px;
    }

    .h4 {
        margin-top: 1px;
        margin-bottom: 1px;
    }
</style>

<script src="~/js/UserInfoFromBrowser/UserInfoFromBrowser_CRUD.js"></script>
<script src="~/js/UserInfoFromBrowser/UserInfoFromBrowser_Datatable.js"></script>
