@using Microsoft.Extensions.Options;
@inject IOptions<AdvPOS.Models.CommonViewModel.ApplicationInfo> _ApplicationInfo;


<aside class="control-sidebar control-sidebar-dark">
</aside>

<footer class="main-footer no-print">
    <div class="row">
        <div class="col-sm-12 d-none d-sm-inline-block">
            <div id="divContactDetails"></div>
        </div>
        <div class="col-sm-12 text-right d-none d-sm-inline-block">
            @_ApplicationInfo.Value.Version
        </div>
    </div>
</footer>

<script>
    $(document).ready(function () {
        SetHeaderElements('panelHeaderElements');
        SetFooterElements('divContactDetails');
    });
</script>


