@model AdvPOS.Models.ItemsViewModel.ItemCartViewModel

<table id="tblItemCart" class="CustomTablePurple" border="1" style="width:100%;">
    <thead>
        <tr>
            <th>Id</th>
            <th>Item</th>
            <th style="width: 70px;">Quantity</th>
            <th>Unit Price</th>
            <th>VAT</th>
            <th>Total</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot>
    </tfoot>
</table>