<div class="wrapper">
    <div class="panel panel-hash">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-5">
                </div>
                <div class="col-md-7 pull-right">
                    <h5 class="pull-right"><b>&nbsp;JWT Token List</b></h5>
                </div>
            </div>
        </div>

        <div class="panel-body scroll panel-height">
            <table id="tblRefreshToken" class="BlueGreen" style="width:100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>User Email</th>
                        <th>Token</th>
                        <th>Jwt Id</th>
                        <th>Is Used</th>
                        <th>Is Revorked</th>
                        <th>Added Date</th>
                        <th>Expiry Date</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<style>
    .panel-heading {
        padding: 0px 0px 0px 5px;
    }

    .panel-body {
        padding: 5px;
    }

    .h4 {
        margin-top: 1px;
        margin-bottom: 1px;
    }
</style>

<script src="~/js/RefreshToken/RefreshToken_CRUD.js"></script>
<script src="~/js/RefreshToken/RefreshToken_Datatable.js"></script>

