@model AdvPOS.Models.AccountViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="row" style="margin: 20px;">
    <div class="col-sm-12">
        <h5 class="login-box-msg">You forgot your password? Here you can easily retrieve a new password.</h5>
        <form id="frmForgotPassword">
            <div>
                <label asp-for="Email"></label>
                <div class="input-group mb-3">
                    <input asp-for="Email" type="email" class="form-control" placeholder="Email" />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <input type="button" id="btnForgotPassword" class="btn btn-primary btn-block btn-flat"
                onclick="ForgotPassword()" value="Reset Password" />
        </form>
        <p class="mb-0">
            <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" class="text-center">Register a new
                membership</a>
        </p>
    </div>
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

<script>
    var ForgotPassword = function () {
        if (!$("#frmForgotPassword").valid()) {
            return;
        }

        var _frmForgotPassword = $("#frmForgotPassword").serialize();
        $("#btnForgotPassword").prop("disabled", true);
        $("#btnForgotPassword").val("Please Wait...");

        $("#btnForgotPassword").LoadingOverlay("show", {
            background: "rgba(165, 190, 100, 0.5)"
        });
        $("#btnForgotPassword").LoadingOverlay("show");

        $.ajax({
            type: "POST",
            url: "/Account/ForgotPassword",
            data: _frmForgotPassword,
            success: function (result) {
                $("#btnForgotPassword").LoadingOverlay("hide", true);
                $('#btnForgotPassword').removeAttr('disabled');
                $("#btnForgotPassword").val("Reset Password");
                if (result.IsSuccess) {
                    location.href = "/Account/ForgotPasswordConfirmation";
                }
                else {
                    Swal.fire({
                        title: result.AlertMessage,
                        icon: "warning"
                    }).then(function () {
                        setTimeout(function () {
                            $('#Email').focus();
                        }, 400);
                    });
                }
            },
            error: function (errormessage) {
                $("#btnForgotPassword").LoadingOverlay("hide", true);
                $("#btnForgotPassword").val("Reset Password");
                $('#btnForgotPassword').removeAttr('disabled');
                Swal.fire({ title: errormessage.responseText, icon: 'warning' });
            }
        });
    }
</script>