@model AdvPOS.Models.UserAccountViewModel.ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
}

<div class="row" style="margin: 25px;">
    <div class="col-sm-12">
        <h5 class="login-box-msg">Reset Password</h5>
        <form id="frmResetPassword">
            <input asp-for="Code" type="hidden" />

            <div class="form-group has-feedback">
                <label asp-for="Email"></label>
                <input asp-for="Email" type="email" class="form-control" placeholder="Email" />
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group has-feedback">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" type="password" class="form-control" placeholder="Password" />
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group has-feedback">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Retype password" />
                <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <input type="button" id="btnResetPassword" class="btn btn-primary btn-block btn-flat"
                onclick="ResetPassword()" value="Reset Password" />
        </form>
    </div>
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

<script>
    var ResetPassword = function () {
        if (!$("#frmResetPassword").valid()) {
            return;
        }

        var _frmResetPassword = $("#frmResetPassword").serialize();
        $("#btnResetPassword").prop("disabled", true);
        $("#btnResetPassword").val("Please Wait...");

        $("#btnResetPassword").LoadingOverlay("show", {
            background: "rgba(165, 190, 100, 0.5)"
        });
        $("#btnResetPassword").LoadingOverlay("show");

        $.ajax({
            type: "POST",
            url: "/Account/ForgotPassword",
            data: _frmResetPassword,
            success: function (result) {
                $("#btnResetPassword").LoadingOverlay("hide", true);
                $('#btnResetPassword').removeAttr('disabled');
                $("#btnResetPassword").val("Reset Password");
                if (result.IsSuccess) {
                    location.href = "/Account/ResetPassword";
                }
                else {
                    Swal.fire({
                        title: result.AlertMessage,
                        icon: "warning"
                    }).then(function () {
                        setTimeout(function () {
                            $('#Email').focus();
                        }, 400);
                    });
                }
            },
            error: function (errormessage) {
                $("#btnResetPassword").LoadingOverlay("hide", true);
                $("#btnResetPassword").val("Reset Password");
                $('#btnResetPassword').removeAttr('disabled');
                Swal.fire({ title: errormessage.responseText, icon: 'warning' });
            }
        });
    }
</script>