<div class="wrapper">
    <div class="panel panel-hash">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-5">
                </div>
                <div class="col-md-7 pull-right">
                    <h5 class="pull-right"><b>&nbsp;Product Wise Sale Report</b></h5>
                </div>
            </div>
        </div>

        <div class="panel-body scroll panel-height">
            <table id="tblProductWiseSaleReport" class="BlueGreen" style="width:100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Sales Date</th>
                        <th>Item</th>
                        <th>Invoice No</th>
                        <th>Customer Name</th>                        
                        <th>Unit Price</th>
                        <th>Quantity</th>
                        <th>Discount(%)</th>
                        <th>VAT(%)</th>
                        <th>Total</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<style>
    .panel-heading {
        padding: 0px 0px 0px 5px;
    }
    .panel-body {
        padding: 5px;
    }
    .h4 {
        margin-top: 1px;
        margin-bottom: 1px;
    }
</style>

<script src="~/js/SalesReport/ProductWiseSaleReport_Datatable.js"></script>
